<div class="tutorials-container">
    <div class="card-header">
        <h2 class="title">Tutorials</h2>

        <div class="language-selector">
            <label for="lang">Select Language:</label>
            <select id="lang" [(ngModel)]="selectedLanguage" (change)="filterTutorials()">
                <option *ngFor="let lang of languages" [value]="lang">{{ lang }}</option>
            </select>
        </div>
    </div>
    <div class="tutorials-grid">
        <div class="tutorial-card" *ngFor="let tutorial of filteredTutorials">
            <iframe width="100%" height="200" [src]="getSafeUrl(tutorial.videoUrl)" frameborder="0"
                allowfullscreen></iframe>
            <h3 class="tutorial-title">{{ tutorial.title }}</h3>
            <p class="tutorial-language">Language: {{ tutorial.language }}</p>
        </div>
    </div>
</div>