<div class="payment-title">
    <h1>Card Information</h1>
</div>
<div class="container" [class.preload]="!isViewInitialized">
    <div class="creditcard" [class.flipped]="isCardFlipped" (click)="toggleFlipCard()">
        <div class="front">
            <div id="ccsingle">
                <app-card-icon [cardType]="cardColorClass"></app-card-icon>
            </div>

            <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 750 471"
                style="enable-background:new 0 0 750 471;" xml:space="preserve">
                <g id="Front">
                    <g id="CardBackground">
                        <g id="Page-1_1_">
                            <g id="amex_1_">
                                <path id="Rectangle-1_1_" class="lightcolor {{ cardColorClass }}" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                                C0,17.9,17.9,0,40,0z" />
                            </g>
                        </g>
                        <path class="darkcolor {{ cardColorClass }}dark"
                            d="M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z" />
                    </g>
                    <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber" class="st2 st3 st4">{{ svgNumber
                        }}</text>
                    <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname" class="st2 st5 st6">{{
                        svgNameDisplay }}</text>
                    <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">cardholder name</text>
                    <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">expiration</text>
                    <text transform="matrix(1 0 0 1 65.1054 241.5)" class="st7 st5 st8">card number</text>
                    <g>
                        <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire" class="st2 st5 st9">{{
                            svgExpire }}</text>
                    </g>
                </g>
                <g id="Back"></g>
            </svg>
        </div>
        <div class="back">
            <svg version="1.1" id="cardback" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 750 471"
                style="enable-background:new 0 0 750 471;" xml:space="preserve">
                <g id="Front"></g>
                <g id="Back">
                    <g id="Page-1_2_">
                        <g id="amex_2_">
                            <path id="Rectangle-1_2_" class="darkcolor {{ cardColorClass }}dark" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                    C0,17.9,17.9,0,40,0z" />
                        </g>
                    </g>
                    <rect y="61.6" class="st2" width="750" height="78" />
                    <g>
                    </g>
                    <text transform="matrix(1 0 0 1 621.999 227.2734)" id="svgsecurity" class="st6 st7">{{ svgSecurity
                        }}</text>
                    <g class="st8">
                        <text transform="matrix(1 0 0 1 518.083 280.0879)" class="st9 st6 st10">security code</text>
                    </g>
                    <rect x="58.1" y="378.6" class="st11" width="375.5" height="13.5" />
                    <rect x="58.1" y="405.6" class="st11" width="421.7" height="13.5" />
                    <text transform="matrix(1 0 0 1 59.5073 228.6099)" id="svgnameback" class="st12 st13">{{
                        svgNameDisplay }}</text>
                </g>
            </svg>
        </div>
    </div>
</div>
<div class="form-container mt-4">
    <form [formGroup]="creditCardForm" class="row">
        <div class="row p-0 m-0">
            <div class="input-group col-6">
                <input #nameInput id="name" formControlName="name" maxlength="20" type="text" (focus)="flipCard(false)">
                <label for="name">Name</label>
                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error-message">
                    <div *ngIf="name?.errors?.['required']">Name is required.</div>
                    <div *ngIf="name?.errors?.['pattern']">Name can only contain letters and spaces.</div>
                </div>
            </div>
            <div class="input-group col-6">
                <input id="cardnumber" formControlName="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric"
                    (focus)="flipCard(false)">
                <label for="cardnumber">Card Number</label>
                <span id="generatecard" (click)="generateRandomCard()">generate random</span>
                <svg #cciconContainer id="ccicon" class="ccicon" width="750" height="471" viewBox="0 0 750 471"
                    version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    [innerHTML]="svgIconHtml">
                </svg>
                <div *ngIf="cardnumber?.invalid && (cardnumber?.dirty || cardnumber?.touched)" class="error-message">
                    <div *ngIf="cardnumber?.errors?.['required']">Card number is required.</div>
                    <div *ngIf="cardnumber?.errors?.['pattern']">Card number must be 13-19 digits.</div>
                </div>
            </div>
            <div class="input-group">
                <input id="expirationdate" formControlName="expirationdate" type="text" pattern="[0-9]*"
                    inputmode="numeric" (focus)="flipCard(false)">
                <label for="expirationdate">Expiration (MMYY)</label>
                <div *ngIf="expirationdate?.invalid && (expirationdate?.dirty || expirationdate?.touched)"
                    class="error-message">
                    <div *ngIf="expirationdate?.errors?.['required']">Expiration date is required.</div>
                    <div *ngIf="expirationdate?.errors?.['pattern']">Use MMYY format (e.g., 0125).</div>
                </div>
            </div>
            <div class="input-group">
                <input id="securitycode" formControlName="securitycode" type="text" pattern="[0-9]*" inputmode="numeric"
                    (focus)="flipCard(true)">
                <label for="securitycode">Security Code</label>
                <div *ngIf="securitycode?.invalid && (securitycode?.dirty || securitycode?.touched)"
                    class="error-message">
                    <div *ngIf="securitycode?.errors?.['required']">Security code is required.</div>
                    <div *ngIf="securitycode?.errors?.['pattern']">Security code must be 3 or 4 digits.</div>
                </div>
            </div>
        </div>
    </form>
</div>