<section class="tools-section">
    <h2>{{paramName?paramName:'Search: '+searchQuery}}</h2>
    <div class="controls">
        <div class="filter">
            <label>Filter:</label>
            <select [(ngModel)]="filter">
                <option value="all">All</option>
                <option value="free">Free</option>
                <option value="paid">Paid</option>
            </select>
        </div>
        <div class="view-toggle">
            <button [class.active]="viewMode === 'grid'" (click)="setViewMode('grid')">
                <i class="fa fa-th-large"></i>
            </button>
            <button [class.active]="viewMode === 'list'" (click)="setViewMode('list')">
                <i class="fa fa-th-list"></i>
            </button>
        </div>
    </div>
    @if (isLoading) {
    <app-card-loading [loop]="5" [type]="2"></app-card-loading>
    } @else {
    <div [ngClass]="{'tools-grid': viewMode === 'grid', 'tools-list': viewMode === 'list'}">
        @for (tool of filteredTools; track tool.productId) {
        <div class="tool-card" #animatedSection>
            <div class="tool-price-badge" [ngClass]="{'free': tool.isFree, 'paid': !tool.isFree}">
                {{ tool.isFree ? 'Free' : ('$' + tool.price) }}
            </div>
            <div class="tool-icon"><img [src]="tool.mainImage" [alt]="tool.name"></div>
            <div class="tool-details">
                <h3 class="tool-name">{{ tool.name }}</h3>
                <p class="tool-description">{{ tool.shortDescription }}</p>
            </div>
            <div class="tool-actions">
                <button class="neon-button" [routerLink]="'/details'"
                    [queryParams]="{ toolId: tool.productId}">Details</button>
                <button class="neon-button green" *ngIf="tool.isFree" (click)="placeOrder(tool)">Download</button>
                <button class="neon-button green" *ngIf="!tool.isFree"
                    (click)="OpenBuyNowPopUp(tool.productId,tool)">Buy Now</button>
            </div>
        </div>
        } @empty {
        <div class="no-tools">
            <p>No tools found in this category.</p>
        </div>
        }
    </div>
    }
</section>